body {
  margin: 0;
}

.navbar {
  background-color: rgb(44, 44, 44);
  padding: 10px 20px;
  margin: 0;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-family: "Arial Narrow";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

ul li a:hover {
  background-color: #3b3b3b;
  padding: 5px 5px;
  border-radius: 5px;
}

.logo img {
  max-width: 50px;
  height: auto;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 4px 0;
  background-color: white;
  transition: 0.4s;
}


@media (max-width: 768px) {
  ul {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: gray;
    padding: 10px 0;
    align-items: flex-start;
  }

  ul.active {
    display: flex;
  }

  .menu-icon {
    display: flex;
  }
}
